{
  "swagger": "2.0",
  "info": {
    "title": "Museums Victoria Collections API",
    "description": "Search and retrieve collection data from Museums Victoria (1.15+ million records)",
    "version": "1.0.0",
    "contact": {
      "name": "Museums Victoria",
      "url": "https://collections.museumsvictoria.com.au/developers"
    }
  },
  "host": "collections.museumsvictoria.com.au",
  "basePath": "/api",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/search": {
      "get": {
        "summary": "Search collections",
        "operationId": "SearchCollections",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search term (e.g. dinosaur, coin, painting)",
            "type": "string"
          },
          {
            "name": "perpage",
            "in": "query",
            "description": "Results per page (default 40, max 100)",
            "type": "integer",
            "default": 40
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "type": "integer",
            "default": 1
          },
          {
            "name": "recordtype",
            "in": "query",
            "description": "Filter by type: article, item, species, specimen",
            "type": "string",
            "enum": ["article", "item", "species", "specimen"]
          },
          {
            "name": "hasimages",
            "in": "query",
            "description": "Filter by images",
            "type": "string",
            "enum": ["yes", "no"]
          },
          {
            "name": "category",
            "in": "query",
            "description": "Collection category",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SearchResult"
              }
            }
          }
        }
      }
    },
    "/items": {
      "get": {
        "summary": "List items",
        "operationId": "ListItems",
        "parameters": [
          {
            "name": "perpage",
            "in": "query",
            "type": "integer",
            "default": 40
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Items",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SearchResult"
              }
            }
          }
        }
      }
    },
    "/items/{id}": {
      "get": {
        "summary": "Get single item",
        "operationId": "GetItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Item details",
            "schema": {
              "$ref": "#/definitions/SearchResult"
            }
          }
        }
      }
    },
    "/specimens": {
      "get": {
        "summary": "List specimens",
        "operationId": "ListSpecimens",
        "parameters": [
          {
            "name": "perpage",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Specimens",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SearchResult"
              }
            }
          }
        }
      }
    },
    "/specimens/{id}": {
      "get": {
        "summary": "Get single specimen",
        "operationId": "GetSpecimen",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Specimen details",
            "schema": {
              "$ref": "#/definitions/SearchResult"
            }
          }
        }
      }
    },
    "/species": {
      "get": {
        "summary": "List species",
        "operationId": "ListSpecies",
        "parameters": [
          {
            "name": "perpage",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Species records",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SearchResult"
              }
            }
          }
        }
      }
    },
    "/articles": {
      "get": {
        "summary": "List articles",
        "operationId": "ListArticles",
        "parameters": [
          {
            "name": "perpage",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Articles",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SearchResult"
              }
            }
          }
        }
      }
    },
    "/articles/{id}": {
      "get": {
        "summary": "Get single article",
        "operationId": "GetArticle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Article details",
            "schema": {
              "$ref": "#/definitions/SearchResult"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "SearchResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "recordType": {
            "type": "string",
            "enum": ["item", "specimen", "species", "article"]
          },
          "displayTitle": {
            "type": "string"
          },
          "objectSummary": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "media": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "uri": {
                  "type": "string"
                },
                "thumbnail": {
                  "type": "object"
                }
              }
            }
          },
          "licence": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "shortName": {
                "type": "string"
              }
            }
          },
          "taxonomy": {
            "type": "object"
          }
        }
    }
  }
}
